@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Aoboshi+One&family=Archivo+Black&family=BBH+Bartle&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Bitcount+Grid+Double:slnt,wght,CRSV,ELXP@-8,300,1,58&family=Black+Han+Sans&family=Heebo:wght@800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+FR+Trad:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sekuya&family=Special+Gothic+Expanded+One&family=Titan+One&family=Zen+Antique+Soft&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @apply bg-black overflow-x-hidden h-full;
  padding-left: clamp(2.5px, 1vw, 12px);
  padding-right: clamp(2.5px, 2vw, 16.5px);
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}
@theme {
  --color-dark-primary: black;
  --color-light-primary: white;
  --color-dark-red-primary: oklch(38% 0.336 25.1);
}
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .col-center {
    @apply flex flex-col justify-center items-center;
  }

  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .general-title {
    @apply xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw];
  }
}

@layer components {
  .custom-cursor {
    @apply fixed rounded-full pointer-events-none z-100 mix-blend-difference flex items-center justify-center bg-light-primary select-none;
  }

  nav {
    @apply w-full h-25 bg-dark-primary text-light-primary fixed top-0 left-0 right-0 flex justify-center items-center;
    clip-path: url(#wave-container);
    -webkit-clip-path: url(#wave-container);
    .nav-content {
      h3 {
        @apply -translate-x-[5%] text-4xl translate-y-[15%]
        max-[1100px]:-translate-x-[2%]
        max-[1050px]:text-2xl
        ;
      }
    }
  }

  .hero {
    @apply h-dvh;
    div:nth-child(1) {
      @apply bg-amber-300 h-dvh rounded-lg;
    }
  }
}
